*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title {
  text-align: center;
}

.btn__commande {
  margin: auto;
}

.card {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 60%;
}
.card .check__animation {
  display: flex;
  background-color: #99e2d0;
  width: 7.2rem;
  border-radius: 0 1rem 1rem 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 300ms 150ms linear;
}
.card .check__animation .checkbox {
  color: #ffff;
  font-size: 2.2rem;
  margin: auto;
  transform: rotate(0deg);
  transition: transform 300ms 150ms linear;
}
.card:hover {
  cursor: pointer;
}
.card:hover .card__text p, .card:hover .card__text h4 {
  width: 60%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.card:hover .check__animation {
  transform: scaleX(1);
}
.card:hover .checkbox {
  transform: rotate(360deg);
}
.card:hover .price {
  transform: translateX(-7rem);
}
@keyframes menu-load {
  0% {
    transform: translateY(20px);
  }
  75% {
    opacity: 0.5;
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}
.card:nth-of-type(1) {
  animation: menu-load 800ms 200ms forwards;
}
.card:nth-of-type(2) {
  animation: menu-load 800ms 400ms forwards;
}
.card:nth-of-type(3) {
  animation: menu-load 800ms 600ms forwards;
}
.card:nth-of-type(4) {
  animation: menu-load 800ms 800ms forwards;
}

html {
  font-size: 62.5%;
}

.menu__text {
  position: relative;
}
.menu__text span {
  position: absolute;
  right: 2rem;
  bottom: 0.5rem;
  font-weight: 100;
  font-size: 3.5rem;
}

.block_page1 {
  width: 100%;
  height: 118rem;
  background: #f6f6f6;
  border-radius: 3rem 3rem 0 0;
  padding: 30px 30px 40px;
  margin-top: -2rem;
}
@media screen and (min-width: 1200px) {
  .block_page1 {
    height: 60rem;
    background: #f6f6f6;
  }
}
.block_page1 .menu__text {
  position: relative;
}
.block_page1 h1 {
  font-family: "shrikhand", cursive;
  font-size: 3rem;
  font-weight: 600;
}
.block_page1 h3 {
  margin: 30px 0 0 10px;
  font-size: 1.9rem;
  font-weight: 300;
  font-family: sans-serif;
}
.block_page1 h3::after {
  content: "";
  display: block;
  height: 3px;
  width: 40px;
  background-color: #99e2d0;
  margin-top: 5px;
}
.block_page1_text {
  justify-content: space-between;
  align-items: baseline;
  font-family: sans-serif;
}
.block_page1 .card {
  width: 95%;
  height: 6rem;
  background: #ffff;
  margin-top: 1.4rem;
  font-size: 1.6rem;
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  padding: 0;
  position: relative;
}
.block_page1 .card__text {
  width: 80%;
  padding: 1.5rem 0 1.5rem 1rem;
  justify-content: space-between;
  font-family: sans-serif;
  font-weight: 300;
  line-height: 2rem;
  font-size: 1.4rem;
}
.block_page1 .card__text p {
  text-overflow: ellipsis;
}
.block_page1 .card .price {
  align-self: flex-end;
  color: black;
  font-weight: 600;
  position: absolute;
  right: 1.5rem;
  bottom: 1.4rem;
}

.empty {
  font-size: 20px;
  margin-right: 10px;
  transition: -webkit-text-fill-color ease-out 1.5s, font-weight ease 0.1s;
}

.empty:hover,
.empty:visited {
  background: linear-gradient(to top, #ff79da, #9356dc);
  background: -webkit-linear-gradient(to top, #ff79da, #9356dc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.preloader {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background: rgba(255, 250, 250, 0.6);
  overflow: hidden;
  z-index: 3;
  -webkit-animation-name: loading;
  animation-name: loading;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
}

.loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #9356dc;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

.loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #ff79da;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}

.loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #99e2d0;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes loading {
  0% {
    height: 100%;
  }
  99% {
    height: 100%;
  }
  100% {
    height: 0;
  }
}
@keyframes loading {
  0% {
    height: 100%;
  }
  99% {
    height: 100%;
  }
  100% {
    height: 0;
  }
}
.btn {
  background: linear-gradient(#ff79da, #a16be0);
  padding: 1.5rem;
  border-radius: 3rem;
  color: #ffff;
  width: 22rem;
  cursor: pointer;
  display: inline-block;
  height: 5rem;
  font-weight: 500;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  box-shadow: 0rem 0.3rem 0.3rem #c2c2c2;
  text-align: center;
  margin-top: 2.5rem;
}
.btn:hover {
  background: linear-gradient(rgba(255, 121, 218, 0.7), rgba(161, 107, 224, 0.7));
}
@media screen and (min-width: 600px) {
  .btn {
    margin-top: 4.5rem;
    width: 25rem;
    height: 5rem;
    font-size: 1.8rem;
  }
}
@media screen and (min-width: 1200px) {
  .btn {
    margin-top: 4rem;
    width: 30rem;
    height: 6rem;
    font-size: 2rem;
  }
}
.btn__commande {
  margin: 6rem auto;
  display: block;
}
.btn:hover {
  background: linear-gradient(rgba(255, 121, 218, 0.7), rgba(161, 107, 224, 0.7));
}

header {
  width: 100%;
  margin: auto;
  padding: 1.2rem 0 1.2rem 0;
  height: 60px;
}
header h1 {
  display: flex;
  justify-content: center;
}
header img {
  width: 20rem;
}

.header_pages {
  width: 100%;
  margin: auto;
  padding: 1.2rem 0 1.2rem 0;
  height: 80px;
}
.header_pages .fa-arrow-left {
  margin: auto;
  font-size: 1.9rem;
  color: black;
  position: relative;
  top: 2rem;
  left: 1rem;
}
.header_pages h1 {
  display: flex;
  justify-content: center;
}
.header_pages img {
  width: 150px;
}

footer {
  background: #363636;
  width: 100%;
  height: 25rem;
}
footer h3 {
  font-family: "Shrikhand", cursive;
  font-weight: 400;
  margin-bottom: 1.3rem;
  font-size: 2.5rem;
  color: #ffff;
  padding: 2.5rem 2.5rem 2.5rem 2.5rem;
}
footer a {
  color: #ffff;
  line-height: 3rem;
  text-decoration: none;
  padding: 2.5rem;
  font-size: 2rem;
}
footer i {
  margin-right: 1rem;
}

.localisation {
  width: 100%;
  height: 4rem;
  margin: 0 auto;
  background: #eaeaea;
}
@media screen and (min-width: 1200px) {
  .localisation {
    height: 6.5rem;
  }
}
.localisation p {
  text-align: center;
  display: inline-block;
  font-size: 1.5rem;
}
@media screen and (min-width: 1200px) {
  .localisation p {
    font-size: 2.1rem;
    font-family: sans-serif;
    font-weight: 500;
  }
}
.localisation span {
  position: relative;
  right: 1.5rem;
  font-size: 1.5rem;
}
@media screen and (min-width: 1200px) {
  .localisation span {
    font-size: 2.1rem;
    font-weight: 500;
  }
}

.loc {
  line-height: 5rem;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .loc {
    line-height: 6.5rem;
  }
}

.reservation {
  background: #f6f6f6;
  width: 100%;
  height: 28rem;
  text-align: center;
}

.reservation-bloc {
  width: 80%;
  margin: 0 auto;
  padding-top: 5rem;
}
.reservation-bloc h2 {
  font-size: 2.2rem;
}
@media screen and (min-width: 1200px) {
  .reservation-bloc h2 {
    font-size: 3.2rem;
  }
}
.reservation-bloc p {
  padding-top: 1rem;
  font-size: 1.7rem;
}
@media screen and (min-width: 1200px) {
  .reservation-bloc p {
    font-size: 2.2rem;
  }
}

.functioning {
  width: 100%;
  height: 390px;
}
@media screen and (min-width: 1200px) {
  .functioning {
    height: 200px;
  }
}
.functioning h2 {
  margin: 30px;
  font-size: 3rem;
  font-weight: 800;
  font-family: sans-serif;
}
@media screen and (min-width: 1200px) {
  .functioning h2 {
    font-size: 2.8rem;
  }
  .functioning h2::before, .functioning h2::after {
    content: "";
    display: inline-block;
    background-color: #99e2d0;
    height: 2px;
    width: 75px;
    vertical-align: middle;
    margin: 0 10px;
  }
}
@media screen and (min-width: 600px) {
  .functioning h2 {
    font-size: 2.8rem;
  }
  .functioning h2::before, .functioning h2::after {
    content: "";
    display: inline-block;
    background-color: #99e2d0;
    height: 2px;
    width: 75px;
    vertical-align: middle;
    margin: 0 10px;
  }
}
@media screen and (min-width: 600px) {
  .functioning .functioning-bloc {
    width: 90%;
    margin: auto;
  }
}
@media screen and (min-width: 1200px) {
  .functioning .functioning-bloc {
    display: flex;
    flex-direction: row;
  }
}
.functioning .function-bloc {
  width: 90%;
  height: 75px;
  border: none;
  margin: 20px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px;
  background: #f6f6f6;
  box-shadow: 0rem 0.2rem 0.2rem #dddddd;
  cursor: pointer;
  position: relative;
}
.functioning .function-bloc:hover {
  background: #f4eefc;
}
.functioning .function-bloc:hover i {
  color: #9356dc;
}
@media screen and (min-width: 1200px) {
  .functioning .function-bloc {
    margin: 0 1rem;
    width: 90%;
  }
}
.functioning .function-bloc i {
  color: #7d7d7dfb;
  width: 20px;
  font-size: 1.2rem;
  margin: 0 25px 0 30px;
}
.functioning .number {
  border-radius: 50px;
  width: 30px;
  height: 30px;
  background: #9356dc;
  color: #ffff;
  font-weight: 300;
  padding: 3px 7px 2px 7px;
  position: absolute;
  left: -10px;
  font-size: 18px;
}
.functioning .number span {
  padding-left: 3px;
}
.functioning .function_text {
  position: absolute;
  left: 20px;
}
.functioning .function_text i {
  font-size: 20px;
}
.functioning .function_text span {
  font-size: 20px;
}

.restaurant {
  width: 100%;
  height: 146rem;
  background: #f6f6f6;
}
@media screen and (min-width: 600px) {
  .restaurant {
    height: 80rem;
  }
}
@media screen and (min-width: 1200px) {
  .restaurant {
    height: 93rem;
  }
}
.restaurant h2 {
  padding: 3.5rem 1.5rem 1.5rem 1.5rem;
  font-weight: 900;
  font-size: 2.2rem;
}
@media screen and (min-width: 600px) {
  .restaurant h2.title {
    font-size: 3rem;
    font-weight: 800;
    font-family: sans-serif;
  }
}
@media screen and (min-width: 600px) and (min-width: 600px) {
  .restaurant h2.title {
    font-size: 2.8rem;
  }
  .restaurant h2.title::before, .restaurant h2.title::after {
    content: "";
    display: inline-block;
    background-color: #99e2d0;
    height: 2px;
    width: 75px;
    vertical-align: middle;
    margin: 0 10px;
  }
}
@media screen and (min-width: 1200px) {
  .restaurant h2.title {
    font-size: 3rem;
    font-weight: 800;
    font-family: sans-serif;
  }
  .restaurant h2.title::before, .restaurant h2.title::after {
    content: "";
    display: inline-block;
    background-color: #99e2d0;
    height: 2px;
    width: 75px;
    vertical-align: middle;
    margin: 0 10px;
  }
}
@media screen and (min-width: 600px) {
  .restaurant .all-restaurants {
    width: 95%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  }
}
.restaurant .all-restaurants .card_restaurants {
  width: 90%;
  height: 31rem;
  background: #ffff;
  margin: 2rem auto;
  border-radius: 1.5rem 1.5rem 1.5rem 1.5rem;
  position: relative;
}
@media screen and (min-width: 600px) {
  .restaurant .all-restaurants .card_restaurants {
    width: 45%;
  }
}
@media screen and (min-width: 1200px) {
  .restaurant .all-restaurants .card_restaurants {
    height: 36rem;
  }
}
.restaurant .all-restaurants .photo_restau img {
  width: 100%;
  height: 20rem;
  background-size: cover;
  border-radius: 1.5rem 1.5rem 0 0;
}
@media screen and (min-width: 1200px) {
  .restaurant .all-restaurants .photo_restau img {
    height: 25rem;
    object-fit: cover;
  }
}
.restaurant .all-restaurants .photo_restau .new_restau {
  width: 8rem;
  height: 3rem;
  background: #99e2d0;
  color: #32b091;
  border-radius: 0.3rem;
  position: absolute;
  right: 1.2rem;
  top: 1.3rem;
}
.restaurant .all-restaurants .photo_restau .new_restau p {
  text-align: center;
  line-height: 3rem;
}
.restaurant .all-restaurants .info_restau {
  position: relative;
}
.restaurant .all-restaurants .info_restau h2 {
  font-size: 2rem;
}
.restaurant .all-restaurants .info_restau p {
  position: absolute;
  left: 1.5rem;
  bottom: -1rem;
  font-size: 1.9rem;
  font-weight: lighter;
}
.restaurant .all-restaurants .info_restau .fa-heart {
  position: absolute;
  right: 1.2rem;
  bottom: 0.4rem;
  font-size: 2.7rem;
}

.picture {
  width: 100%;
  height: 35vh;
  background-size: cover;
  background-position: center center;
}
.picture--1 {
  background-image: url(../../assets/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
}
.picture--2 {
  background-image: url(../../assets/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
}
.picture--3 {
  background-image: url(../../assets/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
}
.picture--4 {
  background-image: url(../../assets/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
}

.block_page {
  width: 100%;
  height: 119rem;
  background: #f6f6f6;
  border-radius: 3rem 3rem 0 0;
  padding: 30px 30px 40px;
  margin-top: -2rem;
}
@media screen and (min-width: 1200px) {
  .block_page {
    height: 580px;
    background: #f6f6f6;
  }
}
.block_page .menu__text {
  position: relative;
}
.block_page h1 {
  font-family: "shrikhand", cursive;
  font-size: 2rem;
  font-weight: 300;
}
.block_page h3 {
  margin: 30px 0 0 10px;
  font-size: 1.9rem;
  font-weight: 300;
  font-family: sans-serif;
}
.block_page h3::after {
  content: "";
  display: block;
  height: 3px;
  width: 40px;
  background-color: #99e2d0;
  margin-top: 5px;
}
.block_page_text {
  justify-content: space-between;
  align-items: baseline;
  font-family: sans-serif;
}

.card {
  width: 95%;
  height: 7.2rem;
  background: #ffff;
  margin-top: 1.4rem;
  font-size: 1.6rem;
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  padding: 0;
  position: relative;
  box-shadow: 0 3px 8px #c2c2c2;
  opacity: 0;
}
.card__text {
  width: 80%;
  padding: 1.5rem 0 1.5rem 1rem;
  justify-content: space-between;
  font-family: sans-serif;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 2rem;
  text-overflow: ellipsis;
  transition: width 300ms 150ms linear;
}
@media screen and (min-width: 1200px) {
  .card__text {
    font-size: 1.6rem;
    line-height: -1rem;
  }
}

.price {
  align-self: flex-end;
  color: black;
  font-weight: 600;
  position: absolute;
  right: 1.5rem;
  bottom: 1.4rem;
  transition: transform 300ms 150ms linear;
}

@media screen and (min-width: 1200px) {
  .menu__courses {
    display: flex;
    justify-content: space-between;
  }
  .menu__courses .menu_part {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
