.menu__text {
    position: relative;

    span {
        position: absolute;
        right: 2rem;
        bottom: 0.5rem;
        font-weight: 100;
        font-size: 3.5rem;
    }
}
.block_page1 {
    width: 100%;
    height: 1180px;
    background: $color-primary;
    border-radius: 3rem 3rem 0 0;
    padding: 30px 30px 40px;
    margin-top: -2rem;

    .menu__text {
        position: relative;
    }

    h1 {
        font-family: "shrikhand", cursive;
        font-size: 3rem;
        font-weight: 600;
    }

    h3 {
        margin: 30px 0 0 10px;
        font-size: 1.9rem;
        font-weight: 300;
        font-family: sans-serif;
        &::after{
            content: "";
            display: block;
            height: 3px;
            width: 40px;
            background-color: #99e2d0;
            margin-top: 5px;
        }
    }
    &_text {

        @include text;
    }
    .card {

        width: 95%;
        height: 6rem;
        background: $color-secondary;
        margin-top: 1.4rem;
        font-size: 1.6rem;
        border-radius: 1rem;
        display: flex;
        justify-content: space-between;
        padding: 0;
        position: relative;
    
        &__text {
            width: 80%;
            padding: 1.5rem 0 1.5rem 1rem;
            justify-content: space-between;
            font-family: sans-serif;
            font-weight: 300;
            line-height: 2rem;
            font-size: 1.4rem;
        }
        .price {
            align-self: flex-end;
            color: black;
            font-weight: 600;
            position: absolute;
            right: 1.5rem;
            bottom: 1.4rem;
        }
    }
    

    }
