.functioning {
  width: 100%;
  height: 390px;
  @include respond-dekstop {
    height: 200px;
  }

  h2 {
    margin: 30px;
    font-size: 3rem;
    font-weight: 800;
    font-family: sans-serif;
    @include respond-dekstop {
      font-size: 2.8rem;
      &::before,
      &::after {
        content: "";
        display: inline-block;
        background-color: $color-effect;
        height: 2px;
        width: 75px;
        vertical-align: middle;
        margin: 0 10px;
      }
    }
    @include respond-tablet {
      font-size: 2.8rem;
      &::before,
      &::after {
        content: "";
        display: inline-block;
        background-color: $color-effect;
        height: 2px;
        width: 75px;
        vertical-align: middle;
        margin: 0 10px;
      }
    }
  }

  .functioning-bloc {
    @include respond-tablet {
      width: 90%;
      margin: auto;
    }
    @include respond-dekstop {
      display: flex;
      flex-direction: row;
    }
  }

  .function-bloc {
    width: 90%;
    height: 75px;
    border: none;
    margin: 20px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    background: $color-primary;
    box-shadow: 0rem 0.2rem 0.2rem #dddddd;
    cursor: pointer;
    position: relative;
    &:hover {
      background: lighten($color-tertiary, 36%) ;
      i {
        color: $color-tertiary;
      }
    }

    @include respond-dekstop {
      margin: 0 1rem;
      width: 90%;
    }

    i {
      color: $color-fonction;
      width: 20px;
      font-size: 1.2rem;
      margin: 0 25px 0 30px;
    }
  }
  .number {
    border-radius: 50px;
    width: 30px;
    height: 30px;
    background: $color-tertiary;
    color: $color-secondary;
    font-weight: 300;
    padding: 3px 7px 2px 7px;
    position: absolute;
    left: -10px;
    font-size: 18px;

    span {
      padding-left: 3px;
    }
  }
  .function_text {
    position: absolute;
    left: 20px;

    i {
      font-size: 20px;
    }

    span {
      font-size: 20px;
    }
  }
}
