@mixin text {

    justify-content: space-between;
        align-items: baseline;
        font-family: sans-serif;
}

@mixin respond-tablet {
        @media screen and (min-width: 600px) { @content };
}

@mixin respond-dekstop {
        @media screen and (min-width: 1200px) { @content};
                
        }
        
@mixin check-transition-timing($type) {
        transition: $type 300ms 150ms linear ;
}

@mixin shadow-box($color: darken(#f5f5f5, 20%)) {
        box-shadow: 0 3px 8px $color;
    }