@mixin text {

    justify-content: space-between;
        align-items: baseline;
        font-family: sans-serif;
}

@mixin respond-tablet {
        @media screen and (min-width: 600px) { @content };
}

